
*.vsidx
*.vsidx
*.vsidx
DynamicMenuLink/DynamicMenuLink/obj/Debug/net7.0/DynamicMenuLink.GeneratedMSBuildEditorConfig.editorconfig
DynamicMenuLink/.vs/DynamicMenuLink/DesignTimeBuild/.dtbcache.v2
DynamicMenuLink/.vs/DynamicMenuLink/v17/.futdcache.v2
DynamicMenuLink/.vs/ProjectEvaluation/dynamicmenulink.metadata.v6.1
DynamicMenuLink/.vs/ProjectEvaluation/dynamicmenulink.projects.v6.1
DynamicMenuLink/DynamicMenuLink/obj/Debug/net7.0/DynamicMenuLink.GeneratedMSBuildEditorConfig.editorconfig
WindowSeller/.vs/ProjectEvaluation/windowseller.metadata.v6.1
WindowSeller/.vs/ProjectEvaluation/windowseller.projects.v6.1
WindowSeller/.vs/WindowSeller/FileContentIndex/148c99c6-2fb3-40fc-a0e9-fd7360bbd586.vsidx
WindowSeller/WindowSellerWASM/Client/obj/Debug/net6.0/project.razor.vs.json
DynamicMenuLink/.vs/DynamicMenuLink/v17/.suo
WindowSeller/.vs/WindowSeller/v17/.suo
