
*.vsidx
*.vsidx
*.vsidx
DynamicMenuLink/DynamicMenuLink/obj/Debug/net7.0/DynamicMenuLink.GeneratedMSBuildEditorConfig.editorconfig
DynamicMenuLink/.vs/DynamicMenuLink/DesignTimeBuild/.dtbcache.v2
DynamicMenuLink/.vs/DynamicMenuLink/v17/.futdcache.v2
DynamicMenuLink/.vs/ProjectEvaluation/dynamicmenulink.metadata.v6.1
DynamicMenuLink/.vs/ProjectEvaluation/dynamicmenulink.projects.v6.1
DynamicMenuLink/DynamicMenuLink/obj/Debug/net7.0/DynamicMenuLink.GeneratedMSBuildEditorConfig.editorconfig
WindowSeller/.vs/ProjectEvaluation/windowseller.metadata.v6.1
WindowSeller/.vs/ProjectEvaluation/windowseller.projects.v6.1
WindowSeller/.vs/WindowSeller/FileContentIndex/148c99c6-2fb3-40fc-a0e9-fd7360bbd586.vsidx
WindowSeller/WindowSellerWASM/Client/obj/Debug/net6.0/project.razor.vs.json
DynamicMenuLink/.vs/DynamicMenuLink/v17/.suo
WindowSeller/.vs/WindowSeller/v17/.suo
DynamicMenuLink/.vs/DynamicMenuLink/DesignTimeBuild/.dtbcache.v2
DynamicMenuLink/.vs/DynamicMenuLink/v17/.futdcache.v2
DynamicMenuLink/.vs/DynamicMenuLink/v17/.suo
DynamicMenuLink/.vs/ProjectEvaluation/dynamicmenulink.metadata.v7.bin
DynamicMenuLink/.vs/ProjectEvaluation/dynamicmenulink.projects.v7.bin
DynamicMenuLink/.vs/DynamicMenuLink/v17/.suo
/StockModule/.vs/ProjectEvaluation/stockmodule.metadata.v6.1
/StockModule/.vs/ProjectEvaluation/stockmodule.projects.v6.1
/StockModule/.vs/StockModule/DesignTimeBuild/.dtbcache.v2
/StockModule/.vs/StockModule/v17/.futdcache.v2
/StockModule/.vs/StockModule/v17/fileList.bin
/StockModule/StocckModule.UI.Test/bin/Debug/net7.0/CoverletSourceRootsMapping
/StockModule/StocckModule.UI.Test/obj/Debug/net7.0/StocckModule.UI.Test.assets.cache
/StockModule/StocckModule.UI.Test/obj/Debug/net7.0/StocckModule.UI.Test.csproj.AssemblyReference.cache
/StockModule/StocckModule.UI.Test/obj/Debug/net7.0/StocckModule.UI.Test.GeneratedMSBuildEditorConfig.editorconfig
/StockModule/StocckModule.UI.Test/obj/StocckModule.UI.Test.csproj.nuget.dgspec.json
/StockModule/StocckModule.UI.Test/obj/project.nuget.cache
/StockModule/StocckModule.UI.Test/obj/project.assets.json
/StockModule/StockModule.API/bin/Debug/net7.0/StockModule.Utility.pdb
/StockModule/StockModule.API/bin/Debug/net7.0/StockModule.Utility.dll
/StockModule/StockModule.API/bin/Debug/net7.0/StockModule.DAL.pdb
/StockModule/StockModule.API/bin/Debug/net7.0/StockModule.DAL.dll
/StockModule/StockModule.API/bin/Debug/net7.0/StockModule.BLL.pdb
/StockModule/StockModule.API/bin/Debug/net7.0/StockModule.BLL.dll
/StockModule/StockModule.API/bin/Debug/net7.0/StockModule.API.pdb
/StockModule/StockModule.API/bin/Debug/net7.0/StockModule.API.dll
/StockModule/StockModule.API/obj/StockModule.API.csproj.nuget.dgspec.json
/StockModule/StockModule.API/obj/project.nuget.cache
/StockModule/StockModule.API/obj/project.assets.json
/StockModule/StockModule.API/obj/Debug/net7.0/StockModule.API.pdb
/StockModule/StockModule.API/obj/Debug/net7.0/StockModule.API.genruntimeconfig.cache
/StockModule/StockModule.API/obj/Debug/net7.0/StockModule.API.GeneratedMSBuildEditorConfig.editorconfig
/StockModule/StockModule.API/obj/Debug/net7.0/StockModule.API.dll
/StockModule/StockModule.API/obj/Debug/net7.0/StockModule.API.csproj.FileListAbsolute.txt
/StockModule/StockModule.API/obj/Debug/net7.0/StockModule.API.csproj.CoreCompileInputs.cache
/StockModule/StockModule.API/obj/Debug/net7.0/StockModule.API.csproj.AssemblyReference.cache
/StockModule/StockModule.API/obj/Debug/net7.0/StockModule.API.assets.cache
/StockModule/StockModule.API/obj/Debug/net7.0/project.razor.vs.json
/StockModule/StockModule.BLL/bin/Debug/net7.0/StockModule.Utility.pdb
/StockModule/StockModule.BLL/bin/Debug/net7.0/StockModule.Utility.dll
/StockModule/StockModule.BLL/bin/Debug/net7.0/StockModule.DAL.pdb
/StockModule/StockModule.BLL/bin/Debug/net7.0/StockModule.DAL.dll
/StockModule/StockModule.BLL/bin/Debug/net7.0/StockModule.BLL.pdb
/StockModule/StockModule.BLL/bin/Debug/net7.0/StockModule.BLL.dll
/StockModule/StockModule.BLL/obj/StockModule.BLL.csproj.nuget.dgspec.json
/StockModule/StockModule.BLL/obj/project.nuget.cache
/StockModule/StockModule.BLL/obj/project.assets.json
/StockModule/StockModule.BLL/obj/Debug/net7.0/StockModule.BLL.pdb
/StockModule/StockModule.BLL/obj/Debug/net7.0/StockModule.BLL.GeneratedMSBuildEditorConfig.editorconfig
/StockModule/StockModule.BLL/obj/Debug/net7.0/StockModule.BLL.dll
/StockModule/StockModule.BLL/obj/Debug/net7.0/StockModule.BLL.csproj.FileListAbsolute.txt
/StockModule/StockModule.BLL/obj/Debug/net7.0/StockModule.BLL.csproj.CoreCompileInputs.cache
/StockModule/StockModule.BLL/obj/Debug/net7.0/StockModule.BLL.csproj.AssemblyReference.cache
/StockModule/StockModule.BLL/obj/Debug/net7.0/StockModule.BLL.assets.cache
/StockModule/StockModule.DAL/bin/Debug/net7.0/StockModule.Utility.pdb
/StockModule/StockModule.DAL/bin/Debug/net7.0/StockModule.Utility.dll
/StockModule/StockModule.DAL/bin/Debug/net7.0/StockModule.DAL.pdb
/StockModule/StockModule.DAL/bin/Debug/net7.0/StockModule.DAL.dll
/StockModule/StockModule.DAL/obj/StockModule.DAL.csproj.nuget.dgspec.json
/StockModule/StockModule.DAL/obj/project.nuget.cache
/StockModule/StockModule.DAL/obj/project.assets.json
/StockModule/StockModule.DAL/obj/Debug/net7.0/StockModule.DAL.pdb
/StockModule/StockModule.DAL/obj/Debug/net7.0/StockModule.DAL.genruntimeconfig.cache
/StockModule/StockModule.DAL/obj/Debug/net7.0/StockModule.DAL.GeneratedMSBuildEditorConfig.editorconfig
/StockModule/StockModule.DAL/obj/Debug/net7.0/StockModule.DAL.dll
/StockModule/StockModule.DAL/obj/Debug/net7.0/StockModule.DAL.csproj.FileListAbsolute.txt
/StockModule/StockModule.DAL/obj/Debug/net7.0/StockModule.DAL.csproj.CoreCompileInputs.cache
/StockModule/StockModule.DAL/obj/Debug/net7.0/StockModule.DAL.csproj.AssemblyReference.cache
/StockModule/StockModule.DAL/obj/Debug/net7.0/StockModule.DAL.assets.cache
/StockModule/StockModule.UI/bin/Debug/net7.0/StockModule.Utility.pdb
/StockModule/StockModule.UI/bin/Debug/net7.0/StockModule.Utility.dll
/StockModule/StockModule.UI/bin/Debug/net7.0/StockModule.UI.staticwebassets.runtime.json
/StockModule/StockModule.UI/bin/Debug/net7.0/StockModule.UI.pdb
/StockModule/StockModule.UI/bin/Debug/net7.0/StockModule.UI.dll
/StockModule/StockModule.UI/bin/Debug/net7.0/appsettings.Development.json
/StockModule/StockModule.UI/obj/Debug/net7.0/ref/StockModule.UI.dll
/StockModule/StockModule.UI/obj/StockModule.UI.csproj.nuget.dgspec.json
/StockModule/StockModule.UI/obj/project.nuget.cache
/StockModule/StockModule.UI/obj/project.assets.json
/StockModule/StockModule.UI/obj/Debug/net7.0/StockModule.UI.pdb
/StockModule/StockModule.UI/obj/Debug/net7.0/StockModule.UI.genruntimeconfig.cache
/StockModule/StockModule.UI/obj/Debug/net7.0/StockModule.UI.GeneratedMSBuildEditorConfig.editorconfig
/StockModule/StockModule.UI/obj/Debug/net7.0/StockModule.UI.dll
/StockModule/StockModule.UI/obj/Debug/net7.0/StockModule.UI.csproj.FileListAbsolute.txt
/StockModule/StockModule.UI/obj/Debug/net7.0/StockModule.UI.csproj.CoreCompileInputs.cache
/StockModule/StockModule.UI/obj/Debug/net7.0/StockModule.UI.csproj.AssemblyReference.cache
/StockModule/StockModule.UI/obj/Debug/net7.0/StockModule.UI.assets.cache
/StockModule/StockModule.UI/obj/Debug/net7.0/staticwebassets.pack.json
/StockModule/StockModule.UI/obj/Debug/net7.0/staticwebassets.development.json
/StockModule/StockModule.UI/obj/Debug/net7.0/staticwebassets.build.json
/StockModule/StockModule.UI/obj/Debug/net7.0/refint/StockModule.UI.dll
/StockModule/StockModule.UI/obj/Debug/net7.0/project.razor.vs.json
/StockModule/StockModule.Utility/bin/Debug/net7.0/StockModule.Utility.pdb
/StockModule/StockModule.Utility/bin/Debug/net7.0/StockModule.Utility.dll
/StockModule/StockModule.Utility/obj/StockModule.Utility.csproj.nuget.dgspec.json
/StockModule/StockModule.Utility/obj/project.nuget.cache
/StockModule/StockModule.Utility/obj/project.assets.json
/StockModule/StockModule.Utility/obj/Debug/net7.0/StockModule.Utility.pdb
/StockModule/StockModule.Utility/obj/Debug/net7.0/StockModule.Utility.GeneratedMSBuildEditorConfig.editorconfig
/StockModule/StockModule.Utility/obj/Debug/net7.0/StockModule.Utility.dll
/StockModule/StockModule.Utility/obj/Debug/net7.0/StockModule.Utility.csproj.FileListAbsolute.txt
/StockModule/StockModule.Utility/obj/Debug/net7.0/StockModule.Utility.assets.cache
/StockModule/StockModule.WASM/obj/StockModule.WASM.csproj.nuget.dgspec.json
/StockModule/StockModule.WASM/obj/project.nuget.cache
/StockModule/StockModule.WASM/obj/project.assets.json
/StockModule/StockModule.WASM/obj/Debug/net7.0/StockModule.WASM.GeneratedMSBuildEditorConfig.editorconfig
/StockModule/StockModule.WASM/obj/Debug/net7.0/StockModule.WASM.csproj.AssemblyReference.cache
/StockModule/StockModule.WASM/obj/Debug/net7.0/StockModule.WASM.assets.cache
/StockModule/StockModule.WASM/obj/Debug/net7.0/project.razor.vs.json
*.bin
StockModule/.vs/StockModule/v17/.suo
