:root {
    --rz-white: #ffffff;
    --rz-black: #000000;
    --rz-base-50: #fafafa;
    --rz-base-100: #f5f5f5;
    --rz-base-200: #eeeeee;
    --rz-base-300: #e0e0e0;
    --rz-base-400: #bdbdbd;
    --rz-base-500: #9e9e9e;
    --rz-base-600: #757575;
    --rz-base-700: #616161;
    --rz-base-800: #424242;
    --rz-base-900: #212121;
    --rz-primary: #92CC87;
    --rz-primary-light: #B7DDAF;
    --rz-primary-lighter: #DBEED7;
    --rz-primary-dark: #6EBC5F;
    --rz-primary-darker: #529F43;
    --rz-secondary: #B3B4B6;
    --rz-secondary-light: #CCCDCE;
    --rz-secondary-lighter: #E6E6E7;
    --rz-secondary-dark: #999B9D;
    --rz-secondary-darker: #808285;
    --rz-info: #FFE067;
    --rz-info-light: #FFEB9A;
    --rz-info-lighter: #FFF5CC;
    --rz-info-dark: #FFD635;
    --rz-info-darker: #FFCC02;
    --rz-success: #529F43;
    --rz-success-light: #6EBC5F;
    --rz-success-lighter: #92CC87;
    --rz-success-dark: #4b8f3d;
    --rz-success-darker: #417d36;
    --rz-warning: #F8AC79;
    --rz-warning-light: #FAC8A6;
    --rz-warning-lighter: #FDE3D2;
    --rz-warning-dark: #F5914D;
    --rz-warning-darker: #F37520;
    --rz-danger: #E48786;
    --rz-danger-light: #EDAFAF;
    --rz-danger-lighter: #F6D7D7;
    --rz-danger-dark: #DB5F5E;
    --rz-danger-darker: #D23736;
    --rz-series-1: #3700b3;
    --rz-series-2: #ba68c8;
    --rz-series-3: #f06292;
    --rz-series-4: #ff8a65;
    --rz-series-5: #ffee58;
    --rz-series-6: #9ccc65;
    --rz-series-7: #26a69a;
    --rz-series-8: #4fc3f7;
    --rz-series-9: #7f5cce;
    --rz-series-10: #ce93d8;
    --rz-series-11: #f48fb1;
    --rz-series-12: #ffab91;
    --rz-series-13: #fff176;
    --rz-series-14: #aed581;
    --rz-series-15: #4db6ac;
    --rz-series-16: #81d4fa;
    --rz-series-17: #a58cdd;
    --rz-series-18: #e1bee7;
    --rz-series-19: #f8bbd0;
    --rz-series-20: #ffccbc;
    --rz-series-21: #fff59d;
    --rz-series-22: #c5e1a5;
    --rz-series-23: #80cbc4;
    --rz-series-24: #b3e5fc;
}

@font-face {
    font-family: 'Nexa Light';
    src: URL('Nexa Light.otf') format('opentype');
}
