@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<iframe src="https://localhost:7062/" title="Material Search" style="width:100%;height:100vh"></iframe>
