<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">RadzenTest</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <RadzenPanelMenu class="flex-column">
        <RadzenPanelMenuItem Text="Home" Icon="home" Path="" Match="NavLinkMatch.All" class="nav-link nav-item px-3">
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="Counter" Icon="payment" class="nav-link nav-item px-3" Path="counter">
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="Fetch data" Icon="receipt" class="nav-link nav-item px-3" Path="fetchdata">
        </RadzenPanelMenuItem>
     </RadzenPanelMenu>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
